# Letter Recognition by SVM Algorithm

In [9]:
import pandas as pd
import numpy as np
df=pd.read_csv('/home/student/Downloads/letter-recognition.csv')
df

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [10]:
df.isna().sum()

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

In [11]:
x=df.iloc[:,1:].values
x

array([[ 2,  8,  3, ...,  8,  0,  8],
       [ 5, 12,  3, ...,  8,  4, 10],
       [ 4, 11,  6, ...,  7,  3,  9],
       ...,
       [ 6,  9,  6, ..., 12,  2,  4],
       [ 2,  3,  4, ...,  9,  5,  8],
       [ 4,  9,  6, ...,  7,  2,  8]])

In [12]:
y=df.iloc[:,0].values
y

array(['T', 'I', 'D', ..., 'T', 'S', 'A'], dtype=object)

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [14]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [15]:
#SVM Model
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array(['X', 'L', 'A', ..., 'J', 'Z', 'F'], dtype=object)

In [16]:
from sklearn.metrics import confusion_matrix,accuracy_score
result=confusion_matrix(y_test,y_pred)
print(result)
accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

[[231   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0
    0   0   0   0   0   0   0   0]
 [  1 219   0   4   2   0   0   0   0   0   0   0   0   0   0   0   0   3
    0   0   0   0   0   0   0   0]
 [  0   0 181   0   5   0   3   1   0   0   1   0   1   0   6   0   0   1
    0   0   0   1   0   0   1   0]
 [  0   2   0 242   0   0   0   3   0   0   0   0   0   1   2   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   2   0 226   0   7   0   0   0   0   0   0   0   0   0   1   0
    0   0   0   0   0   0   0   2]
 [  0   1   0   0   1 204   0   0   1   0   0   0   0   0   0   1   0   0
    0   3   0   0   0   0   0   0]
 [  0   0   1   4   0   0 220   0   0   0   0   1   0   0   0   0   0   2
    0   0   0   2   0   0   0   0]
 [  0   6   0  10   0   0   4 168   0   0   4   0   0   1   5   0   2  15
    0   0   2   0   0   1   0   0]
 [  0   0   0   0   0   3   0   0 205  10   0   0   0   0   0   0   0   0
    0   0   0   0   0   3   0   0]
 [  1   0   0   1   1   1   0   1   3 215   0   0   0   0   3   0   0   0
    0   0   0   0   0   1   0   1]
 [  0   0   2   1   0   0   0   0   0   0 168   0   0   0   0   0   0  14
    0   0   0   0   0   3   0   0]
 [  0   0   1   0   6   0   4   0   0   0   0 216   0   0   0   0   1   2
    1   0   0   0   0   0   0   0]
 [  0   3   0   0   0   0   2   0   0   0   0   0 247   0   0   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   2   0   2   0   0   0   1   0   0   0   0   0 214   4   0   0   7
    0   0   0   0   1   0   0   0]
 [  0   0   0   4   0   0   0   0   0   0   0   0   0   0 204   0   3   2
    0   0   1   0   4   0   0   0]
 [  0   1   0   1   2  13   7   0   0   0   0   0   0   0   1 221   0   0
    0   0   0   0   0   0   2   0]
 [  0   3   0   1   2   0   1   0   0   0   0   0   0   0   3   0 240   1
    0   0   0   0   2   0   0   0]
 [  0   7   0   2   0   0   0   0   0   0   2   0   0   3   0   0   0 220
    0   0   0   0   0   0   0   0]
 [  0   3   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
  228   0   0   0   0   1   0   2]
 [  0   1   0   0   1   0   1   0   0   0   1   0   0   0   0   0   0   1
    0 222   1   0   0   3   1   0]
 [  0   0   0   0   0   0   0   0   0   0   3   0   3   0   0   0   0   0
    0   0 249   2   4   0   0   0]
 [  1   4   0   0   0   1   0   0   0   0   0   0   1   0   0   0   0   1
    0   0   0 229   0   0   0   0]
 [  0   0   0   0   0   0   1   0   0   0   0   0   2   0   1   0   0   0
    0   0   2   0 207   0   0   0]
 [  0   1   0   3   0   0   0   0   0   0   2   0   0   0   0   0   0   1
    0   1   0   0   0 236   1   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   1   0   1   0   0 249   0]
 [  0   0   0   0   0   0   0   0   0   2   0   1   0   0   0   0   1   1
    3   0   0   0   0   0   0 205]]
0.9443333333333334